body {
    background-color: #2f2f2f;
    color: #f5f5f5;
}

h2 {
    color: #ffffff;
}

.image-container {
    width: 23%;
    padding: 20px;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
}

.image-container img {
    max-width: 100%;
    max-height: 400px;
    object-fit: contain;
}
