body {
    background-color: #121111;
    font-family: 'Poppins', sans-serif;
    text-align:center
}

h2 {
    color: #ffffff;
}


.image-container {
    width: 23%;
    padding: 20px;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
}

.image-container img {
    max-width: 100%;
    max-height: 400px;
    object-fit: contain;
}
