<!DOCTYPE html>
<html>
    {% extends "base.html" %}
    {% block content %}
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/collage.css') }}">
    </head>
    <body>

        <ul>
            {% for ticker in tickers %}
                <li>{{ ticker }}</li>
            {% endfor %}
        </ul>

        <h2>Big Tech</h2>
        <div>
            {% for image in big_tech_images %}
                <div class="image-container">
                    <img src="{{ url_for('static', filename='images/big_tech/' + image) }}" alt="Big tech graph">
                </div>
            {% endfor %}
        </div>

        <h2>Misc</h2>
        <div>
            {% for image in misc_images %}
                <div class="image-container">
                    <img src="{{ url_for('static', filename='images/misc/' + image) }}" alt="Misc graph">
                </div>
            {% endfor %}
        </div>

        <h2>Cancelled</h2>
        <div>
            {% for image in cancelled_images %}
                <div class="image-container">
                    <img src="{{ url_for('static', filename='images/cancelled/' + image) }}" alt="Cancelled graph">
                </div>
            {% endfor %}
        </div>
    </body>
    {% endblock %}
</html>
