<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>
        <h2>Big Tech</h2>
        <div>
            {% for image in big_tech_images %}
                <div class="image-container">
                    <img src="{{ url_for('static', filename='images/big_tech/' + image) }}" alt="Big tech graph">
                </div>
            {% endfor %}
        </div>

        <h2>Misc</h2>
        <div>
            {% for image in misc_images %}
                <div class="image-container">
                    <img src="{{ url_for('static', filename='images/misc/' + image) }}" alt="Misc graph">
                </div>
            {% endfor %}
        </div>

        <h2>Cancelled</h2>
        <div>
            {% for image in cancelled_images %}
                <div class="image-container">
                    <img src="{{ url_for('static', filename='images/cancelled/' + image) }}" alt="Cancelled graph">
                </div>
            {% endfor %}
        </div>
    </body>
</html>
