<!DOCTYPE html>
<html>
    {% extends "base.html" %}
    {% block content %}
<head>
  <title>Kingston</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>

</head>
<body>
    
    <div class="container">
        <h1 class="title">Kingston Investment Tools</h1>


        <h3 class="subtitle">Investing has never been easier.<h3>
        <div class="form">
          <a href="/tracker" class="submit-button">Tracker</a>
          <a href="/collage" class="submit-button">Collage</a>
        </div>
      </div>
      
      
      
</body>
{% endblock %}
</html>
