<!DOCTYPE html>
<html>
<head>
  <title>Kingston Tracker</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
  <script src="{{ url_for('static', filename='scripts/scripts.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/tracker.css') }}">

</head>
<body>
<div class="return">
    <a href="/" class="submit-button">Return Home</a>
</div>
  <div class="container">
    <h1 class="title">Stock Tracker</h1>
    <form method="POST" class="form">
      {{ form.hidden_tag() }}
      <div class="form-group">
        {{ form.ticker.label }}
        {{ form.ticker(class="form-control", size=20) }}
      </div>
      <div class="form-group">
        {{ form.date.label }}
        {{ form.date(id='datepicker', class="form-control", size=20) }}
      </div>
      {{ form.submit(class="submit-button") }}
    </form>
    {% if plot_url %}
    <h2 class="subtitle">Stock Performance</h2>
    <img src="data:image/png;base64,{{ plot_url }}" class="image">
    {% endif %}
  </div>
  <script src="{{ url_for('static', filename='scripts/scripts.js') }}"></script>
</body>
</html>
